.card {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9643a;
}

.card .title {
    font-size: 20px;
    font-weight: bolder;
}